*{
	box-sizing: border-box;

}

header{
	padding-bottom: 30px;
}

.one{
    background-image: url(../img/dance_1.jpg);	
    height: 470px;
    padding-top: 100px;
    background-repeat: no-repeat;
}   

.two{
	background-image: url(../img/textura_2.jpg);
	padding-top: 50px;
	padding-bottom: 50px;
}

button{
	border-radius: 3px;
}

.b1{
	background-color: #030D1B;
	border:none;
	height:27px;
	width: 96px;
}

.d1{
	width: 100px;
}

.b2{
	background-color: #192951;
	border:none;
	height: 35px;
	width: 273px;
}

button, span{
	color: #C3C6C5;
}

a{
	text-decoration: none;
	list-style:none;
	margin-right: 30px;
	margin-left: 30px;
	color: #8F8FB3;
}

span{
	font-size: 50px;
	margin-top: 50px;
}

.p1{
	font-size: 16px;
}

.m-0{
	margin:0px;
}

h3{
    color: #192951;
}

.img{
    background-image: url(../img/instructor_4.jpg);
    border:1px solid #192951;
    height: 370px;
    background-size:cover;
}

.img2{
	background-image: url(../img/profesor_9.jpg);
	border:1px solid #192951;
	height: 370px;
	background-size:cover;
}

.im{
	margin:0px !important;
	width: 50% !important;
}

.b3{
	background-color:#192951;
	border:none;
	height: 51px;
	width: 500px;
}

.b31{
	position:absolute;
	bottom: 0px;
	left: 425px;
}

cite{
	font-size: 24px;
}

.three{
	background-image: url(../img/textura_2.jpg);
	padding-top: 90px;
	padding-bottom: 90px;
}

.four{
	background-color: #192951;
}

iframe{
    height: 300px;
    width: 600px;
}

.pad{
	padding-top:70px ;
    padding-right:100px;
    padding-bottom:50px; 
}

p{
    color:#C3C6C5;
    font-size: 14px;
}

.i{
	background-size: 6%;
    background-repeat: no-repeat;
    background-position: left;
    height: 50px;
    width: 462px;
    padding-left: 40px;
    margin-bottom: 15px;
    border-style: 1px solid #DAD7D7;
}
.i1{
	background-image: url('http://rexkirby.com/kirbyandson/images/name.svg');    
}

.i2{
	background-image: url('http://rexkirby.com/kirbyandson/images/email.svg');
}

textarea{
	background-image: url('http://rexkirby.com/kirbyandson/images/comment.svg');
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: left;
}

.five{
	background-image: url(../img/shoes_1.jpg);
	background-repeat: no-repeat;
    background-position-x:  600px;
}   

.i4{
	background-color: #192951;
	border:none;
	width: 462px;
	height: 70px;
	color: #C3C6C5;
}

footer{
	background-color: #192951;
	font-size: 20px;
}
